.heading-2 {
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #2e1e1e;
    margin-bottom: 4rem;
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 1rem;
    text-shadow: 0 0.1rem 0.1rem $color-nav;
    position: relative;

    &:before,
    &:after {
        height: 35px;
        width: 20px;
        position: absolute;
        content: '';
        opacity: 0;
    }

    &:before {
        right: 21px;
        bottom: 0px;
        border-right: 3px solid;
        border-top: 3px solid;
        border-bottom: 3px solid;
        transform: translate(0%, 0%);
        opacity: 1;
    }

    &:after {
        left: 19px;
        top: 3px;
        border-top: 3px solid;
        border-left: 3px solid;
        border-bottom: 3px solid;
        transform: translate(0%, 0%);
        opacity: 1;
    }

}

.skills-header:before {
    right: -15px;
    bottom: 0px;
}

.skills-header:after {
    left: -15px;
}

@media screen and (max-width: 350px) {

    .skills-header {
        width: 250px;
        font-size: 1.8rem;
    }


    .skills-header:before {
        right: -25px !important;
        bottom: -2px !important;

    }
    .skills-header:after {
        left: -15px !important;
        top: 1px !important;

    }
    .icon-2 {
        width: 230px;
    }

}

.tech--content {
    padding: 1rem;
}

.tech--icon {

    width: 100px;
    height: 100px;

    padding: 10px;
    margin: 20px 0;
}

.tech--icon-2 {
    width: 280px;
    height: 100px;
    margin: 20px 0;
}


#projects {
    background: -webkit-gradient(linear, left top, right top, from(rgba(4, 4, 105, 0.9)), to(rgba(4, 4, 105, 0.9))), url(../media/organic-tiles.png);
    background: linear-gradient(to right, rgba(0, 1, 65, 0.9), rgba(22, 22, 106, 0.9)), url(../media/organic-tiles.png);
    -webkit-transform: skew(0deg, 3deg);
    transform: skew(0deg, 3deg);
    margin-bottom: -50px;
    padding-bottom: 150px;
    padding-top: 100px;
    width: 100%;

}

.projects__header {
    -webkit-transform: skew(0deg, -3deg);
    transform: skew(0deg, -3deg);
    color: #efefef;
}

.card-deck {
    -webkit-transform: skew(0deg, -3deg);
    transform: skew(0deg, -3deg);
    padding: 30px;
}


.btn {
    &--secondary {
        display: block;
        text-transform: uppercase;
        background: none;
        color: #1F1F5F;
        width: 100px;
        height: 40px;
        border: 3px solid #1F1F5F;
        font-size: 1.5rem;
        font-weight: 600;
        border-radius: 4px;
        overflow: hidden;
        letter-spacing: 1px;
        margin: 2rem auto;
        text-decoration: none !important;
        text-align: center;
        padding-top: 2px; 
        
        &:hover {
            background-color: #1F1F5F;
            color: #fff;
            cursor: pointer;
            transition: 0.2s;
        }
    }
}


#skills {
    text-align: center;
    margin: 30px 0 150px;
    padding-top: 150px;
}

.card:hover {
    -webkit-transform: translateY(-0.5rem) scale(1.01);
    transform: translateY(-0.5rem) scale(1.01);
    transition: all 0.2s ease-out;
}

#contact {
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 244, 0, 0.9)), to(rgba(255, 244, 0, 0.9))), url(../media/cooperation.jpg);
    background: linear-gradient(to right, rgba(255, 244, 0, 0.9), rgba(252, 244, 82, 0.8)), url(../media/cooperation.jpg);
    padding: 10rem 0 !important;
    background-size: cover;
    background-position: center;
    text-align: center;
    -webkit-transform: skew(0deg, 0deg);
    transform: skew(0deg, 0deg);
}


.contact__form {
    margin: 0 auto;
    width: 100%;
     font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
}



#inputName, #inputEmail, #inputMessage {
    color: #000000 !important;
    font-size: 1.2rem !important;
    width: 100%;
    margin: 1.2rem 0;
    border: none;
    background: rgba(0,0,0,0);
    border-bottom: 2px solid #5a1f90;
}

::-webkit-input-placeholder {
    color: #5a1f90;
    letter-spacing: 2px;
}

textarea {
    line-height: 1.2;
    margin-top: 4rem;
    min-height: 100px;
}


.contact-button {
    padding: 20px 32px;
    font-size: 18px;
    color: rgba(252, 244, 82, 1);
    background: $color-nav; 
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    margin-bottom: 5rem;
    
    &:hover {
    cursor: pointer;
    background: #0f0f0f;
    transition: 0.5s;
}
}

    
.horizontal-rule__black {
    background-color: $color-nav;
    width: 20rem;
    height: .15rem;
    margin-bottom: 8rem;
}

.wrapper {
    padding: 0 40px;
}

.row {
    width: 100%;
}

.contact__icon {
    font-size: 30px;
    padding: 0.5rem;
    margin: 0 0.5rem;
    color: $color-nav;
    border-radius: 999px;
    border: 4px black solid;
    
    
    &:hover {
        color: #5a1f90;
        border: 4px #5a1f90 solid;
        transition: 0.5s;
    }
}

.fa-download:hover {
    color: #5a1f90;
    cursor: pointer;
    transition: 0.5s;
}

.txt {
    font-size: 1.5rem;
    font-weight: 600;
}



.socials {
    margin-top: 1rem;
    margin-bottom: 2rem;
}


.socials li {
    display: inline-block;
}

.text-error {
    color: red !important;
    font-size: 1rem;
    display: block;
}
