body {
    font-weight: normal;
}

nav, header {
    font-family: "Helvetica Neue", sans-serif;
}


main, footer {
    font-family: 'Lato', sans-serif;
}

.container, .content {
    
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

hr {
    display: block;
    unicode-bidi: isolate;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

h4 {
    background-color: crimson;
    font-weight: 700;
    text-align: center;
}